################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/

# Secrets & Local Configuration
appsettings.Development.json
appsettings.Local.json
appsettings.Production.json
*.user
*.env